# API Configuration
VITE_API_URL=http://localhost:3000/api

# Supabase Configuration
VITE_SUPABASE_URL=https://swzmrxbxouolozynkmip.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_rvxf6mLk-B8VSR0V3RjMXg_Mp1S7YFa
